.navbar-container {
    ul {
        .nav-item {
            display: inline-block;
            cursor: pointer;
            padding: 15px 10px;
            color: black;

            &.float-right {
                float: right;
            }

            &.selected  {
                background-color: #ffff;
                border-left: 1px solid #32b300;
                border-right: 1px solid #32b300;
                color: #32b300;
                outline: none;

                &:first-child {
                    border-left: unset;
                }

                &:last-child {
                    border-right: unset;
                }
            }

            &:hover {
                color: #32b300;
            }
        }
    }

    .main-nav-container {
        display: grid;
        grid-template-columns: 50px 130px auto 20%;

        .app-title {
            text-align: center;
            padding-top: 20px;
        }

        ul {
            text-align: right;
        }

        .basket-box {
            text-align: center;
            margin: 25px 0px;
        }

        .icon {
            width: 50px;
            height: 50px;
        }
    }

    .second-menu {
        ul {
            margin: 0px 0px 0px;
            border: 1px solid #32b300;
            background-color: rgba(0, 179, 85, 0.15);
            padding-left: 0px;
        }
    }
}
