<div class="navbar-container">
    <div class="main-nav-container">
        <div class="logo-container">
            <svg-icon icon="icon-cubies_aid" class="icon"></svg-icon>
        </div>
        <span class="app-title">Pharmacy store</span>
        <nav>
            <ul>
                <li class="nav-item">LOGIN</li>
                <li class="nav-item">REGISTER</li>
            </ul>
        </nav>
        <div class="basket-box">This is where basket goes</div>
    </div>
    <div class="second-menu">
        <nav>
            <ul>
                <li class="nav-item"  routerLink="/products">PRODUCTS</li>
                <li class="nav-item">HOME</li>
                <li class="nav-item float-right">CONTACT</li>
            </ul>
        </nav>
    </div>
</div>

