.navbar-container {
    .nav-list {
        .nav-item {
            display: inline-block;
            cursor: pointer;
            padding: 15px 10px;

            &.float-right {
                float: right;
            }

            &.header {
                &:hover {
                    color: var(--primary-color);
                }
            }

            &.selected  {
                background-color: #ffff;
                color: var(--primary-color);
                border-left: 1px solid var(--primary-dark);
                border-right: 1px solid var(--primary-dark);
                outline: none;

                &:first-child {
                    border-left: unset;
                }

                &:last-child {
                    border-right: unset;
                }

                &:hover {
                    color: var(--primary-color);
                }
            }

            &:hover {
                color: #ffff;;
            }
        }
    }

    .main-nav-container {
        display: grid;
        grid-template-columns: 50px 130px auto 20%;

        .app-title {
            text-align: center;
            padding-top: 20px;
        }

        ul {
            text-align: right;
        }

        .basket-box {
            text-align: center;
            margin: 25px 0px;
        }

        .icon {
            width: 50px;
            height: 50px;
        }
    }

    .secondary-nav-container {
        .nav-list {
            margin: 0px 0px 0px;
            border: 1px solid var(--primary-dark);
            background-color: var(--primary-color);
            padding-left: 0px;
        }
    }
}
