<div class="navbar-container">
    <div class="main-nav-container">
        <div class="logo-container">
            <svg-icon icon="icon-cubies_aid" class="icon"></svg-icon>
        </div>
        <span class="app-title">Pharmacy store</span>
        <nav>
            <ul class="nav-list">
                <li class="nav-item header" awesomeTooltip="Hello World!">LOGIN</li>
                <li class="nav-item header">REGISTER</li>
            </ul>
        </nav>
        <div class="basket-box">This is where basket goes</div>
    </div>
    <div class="secondary-nav-container">
        <nav>
            <ul class="nav-list">
                <li class="nav-item" routerLink="/products" [class.selected]="isProductsSelected" (click)="resetControlViewVariables(); isProductsSelected = true;">PRODUCTS</li>
                <li class="nav-item" routerLink="/home" [class.selected]="isHomeSelected"  (click)="resetControlViewVariables(); isHomeSelected = true">HOME</li>

                <!-- target="_blank" means open in new window -->
                <li *ngIf="hasAdminPermission" class="nav-item float-right" [class.selected]="isAdminSeleceted" routerLink="/admin" target="_blank" (click)="resetControlViewVariables(); isAdminSeleceted = true">ADMIN PANEL</li>

                <li class="nav-item float-right" [class.selected]="isContactSeleceted"  (click)="resetControlViewVariables(); isContactSeleceted = true">CONTACT</li>
            </ul>
        </nav>
    </div>
</div>

<!-- <ng-template #tpl let-close="close">
    And here's some amazing content. It's very engaging. Right?
</ng-template> -->

