.product-slider-container {
    text-align: center;

    .slider-header {
        padding: 16px;
        font-size: 24px;
        color: var(--primary-color);
        letter-spacing: 1.2px;
        border-top: 1px solid rgba(0, 0, 0, 0.05);
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);

        .icon {
            height: 30px;
            width: 30px;
            vertical-align: middle;
            margin-bottom: 8px;
            fill: var(--primary-color);
            margin-right: 10px;
        }
    }

    .slider-body {
        position: relative;
        display: flex;
        width: 870px;
        overflow: hidden;
        margin: auto;
        box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);

        .slider-item {
            position: relative;
            display: inline-block;
            right: 0px;
            transition: all 500ms;
        }
    }
}
