<footer class="main-footer-container">
    <div class="section-box">
        <div class="section-title">
            <span class="icon-box"><svg-icon icon="icon-info" class="icon"></svg-icon></span>
            Information
        </div>
        <ul class="section-menu">
            <li class="menu-item">About Us</li>
            <li class="menu-item">Delivery</li>
            <li class="menu-item">FAQ</li>
        </ul>
    </div>
    <div class="section-box">
        <div class="section-title">
            <span class="icon-box"><svg-icon icon="icon-user-tie" class="icon"></svg-icon></span>
            Service
        </div>
        <ul class="section-menu">
            <li class="menu-item">Terms and conditions</li>
            <li class="menu-item">Payment methods</li>
            <li class="menu-item">Product complaint</li>
        </ul>
    </div>
    <div class="section-box">
        <div class="section-title contact">
            Contact us
        </div>
        <div class="section-info">
            <span class="icon-box"><svg-icon icon="icon-map" class="icon"></svg-icon></span>
            Address: Pejicevi Salasi, bb
        </div>
        <div class="section-info">
            <span class="icon-box"><svg-icon icon="icon-mail4" class="icon"></svg-icon></span>
            Email: cvarkov@baba.com
        </div>
        <div class="section-info">
            <span class="icon-box"><svg-icon icon="icon-clock2" class="icon"></svg-icon></span>
            Working hours: 7:00 - 16:00
        </div>
    </div>
</footer>
