.products-page-container {

    .add-button-container {
        margin: 30px;
    }

    .inventory-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 20px;

        .inventory-column {
            text-align: center;
            border-right: 1px solid #a9a9a93b;
            font-weight: 500;

            &:last-child {
                border-right: none;
            }

            .label-title {
                padding-bottom: 10px;
            }
            .label-value {
                color: var(--secondary-dark);
                font-size: 22px;
                font-weight: 600;
            }
        }
    }
    .products-table {
        border-spacing: 0px 8px;
        margin: auto;
        padding: 0px 15px;

        .table-header {
            background-color: var(--light-green);
            .header-row {
                .header-item {
                    padding: 15px 5px;
                    width: 12%;

                    &:last-child {
                        width: 10%;
                    }

                }
            }
        }

        .table-body {
            .body-row {
                background-color: #ffff;
                box-shadow: 0 1px 4px rgba(0, 0, 0, 0.14), 0 0 40px rgba(0, 0, 0, 0.02) inset;

                .row-item {
                    font-size: 14px;
                    font-weight: 400;
                    padding: 14px 4px;

                    .action {
                        padding: 0px 8px;
                        cursor: pointer;

                        &.edit-action {
                            color: var(--light-blue-primary);
                        }

                        &.remove-action {
                            color: var(--primary-orange);
                        }
                    }
                }
            }
        }
    }
}
