<div class="outer-container" [class.border-right]="!allowHoverEffect">
    <div class="product-card-container" [class.allow-hover]="allowHoverEffect">
        <section class="image-section">
            <svg-icon icon="icon-blueprint_medicate" class="icon"></svg-icon>
        </section>
        <section class="title-section">{{productData.productName}}</section>
        <section class="price-section">
            <span class="main-price">{{price.mainPrice}}</span>
            <span class="decimal-price">{{price.priceDecimal}}</span>
            <span class="currency">RSD</span>
        </section>
        <section class="details-section">
            <div class="icon-box expand">
                <svg-icon icon="icon-enlarge" class="icon"></svg-icon>
            </div>
            <div class="icon-box heart">
                <svg-icon icon="icon-heart" class="icon"></svg-icon>
            </div>
            <div class="icon-box cart">
                <svg-icon icon="icon-cart" class="icon"></svg-icon>
            </div>
            <button class="action-button">Details</button>
        </section>
    </div>
</div>
