:root {
    --primary-color: #25a564;
    --primary-light: #cfff94;
    --primary-dark: #6b9b36;
    --primary-orange: #ff5200ed;
    --text-on-primary: #3e2723;
    --content-background: #f4faf7;

    --secondary-color: #40c4ff;
    --secondary-light: #82f7ff;
    --secondary-dark: #0094cc;
    --text-on-secondary: #212121;

    --light-grey: #65667F;
    --light-blue-primary: #007FFF;
    --light-blue-secondary:  #6AB5FF;
    --light-blue-terciary: #A6D2FF;
    --light-green: #E7FAF0;
    --light-background: #e3ece32e;
    --light-red: #ff0000d6;
 }
