:root {
    --primary-color: #25a564;
    --primary-light: #cfff94;
    --primary-dark: #6b9b36;
    --text-on-primary: #3e2723;

    --secondary-color: #40c4ff;
    --secondary-light: #82f7ff;
    --secondary-dark: #0094cc;
    --text-on-secondary: #212121;
 }

