<div class="outer-container">
    <div class="product-card-container">
        <section class="image-section">
            <svg-icon icon="icon-blueprint_medicate" class="icon"></svg-icon>
        </section>
        <section class="title-section">This is a product title</section>
        <section class="price-section">This is where price goes</section>
        <section class="details-section">
            <div class="icon-box expand">
                <svg-icon icon="icon-blueprint_medicate" class="icon"></svg-icon>
            </div>
            <div class="icon-box heart">
                <svg-icon icon="icon-heart" class="icon"></svg-icon>
            </div>
            <div class="icon-box cart">
                <svg-icon icon="icon-cart" class="icon"></svg-icon>
            </div>
            <button class="action-button">Details</button>
        </section>
    </div>
</div>
