<div class="products-main-container">
    <div class="sidebar-menu">
        <ul class="category-list">
            <li class="menu-item category-name" *ngFor="let category of allCategories; let i = index">
                <div class="icon-name" (click)="selectCategory(category)" [class.selected]="category?.categoryId === selectedItem.category?.id">
                    <svg-icon icon="{{categoryIcons[i]}}" class="icon"></svg-icon>
                    {{category.categoryName}}
                </div>

                <ul class="subcategory-list">
                    <li class="menu-item subcategory-name" *ngFor="let subcategory of category.subcategories">
                        <div class="icon-name" (click)="selectSubcategory(subcategory)" [class.selected]="subcategory?.subcategoryId === selectedItem.subcategory?.id">
                            {{subcategory.subcategoryName}}
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="content-container">
        <div class="bread-crumbs">
            <span class="single-crumb" *ngFor="let crumb of selectedItem.breadCrumbs; let first = first"  (click)="selectBreadCrumb(crumb)">{{first ? '' : ' / '}} {{crumb.name}}</span>
        </div>

        <div class="content-item" *ngFor="let product of allProducts">
            <product-card
                [productData]="product"
                [allowHoverEffect]="true">
            </product-card>
        </div>
    </div>
</div>
